@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$greyColor: #828282;
$greyText: #52575C;
$redColorHead: #E93C3C;
$redColor: #EB4747;
$navbar: #F2F2F2;
$black: #25282B;
$slider: #FF6262;
$filter: #CACCCF;
$backgroundFilter: #F9F9FA;
$lightGrey: #E8E8E8;
$Grey: #A0A4A8;
body{
  margin: 0;
}
#page{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: $greyColor;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
  grid-template-columns: 10% 80% 10%;
}
header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .location, .time, .contacts{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  img{
    height: 80px;
    width: 95px;
  }
  .location{
    .city {
      img {
        height: 14.67px;
        width: 12px;
      }
      color: $redColorHead;
      font-size: 14px;
    }
  }
  .search{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:reverse;
    -ms-flex-direction:row-reverse;
    flex-direction:row-reverse;
    width: 372px;
    border: 1px solid $greyColor;
    img{
      margin-top: 10px;
      padding-right: 15px;
      width: 14px;
      height: 14px;
      position: absolute;
    }
    input{
      height: 34px;
      width: 100%;
      outline: none;
      border: none;
    }
  }
  .icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    img{
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
  .contacts{
    .contacts-number{
      font-weight: bold;
    }
    .feedback{
      text-decoration: none;
      color: $redColor;
    }
  }
}
nav{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
  grid-template-columns: 10% 80% 10%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4 ;
  background-color: $navbar;

  .navbar{
    .menuLeft{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .menu   {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      a:hover, a:active{
        padding-bottom: 13px;
        border-bottom: 2px solid $redColorHead;
      }
    }
    .user{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      .liked{
        margin-right: 20px;
        position: relative;
        .counts{
          position: absolute;
          background-color: $redColorHead;
          border-radius: 50%;
          color: white;
          font-size: 8px;
          width: 10px;
          text-align: center;
          padding: 1px 2px;
          height: 10px;
          top: -3px;
          left: 11px;
        }
      }
      a{
        color: $redColorHead;
        padding: 0;
      }
      img{
        -o-object-fit: contain;
        object-fit: contain;
      }
      .enter{
        img{
          margin-right: 10px;
        }
      }
    }
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .catalog{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: $redColor;
      color: white;
      height: 100%;
      a{
        color: white;
      }
      img{
        margin-left: 12px;
        margin-top: 5px;
        width: 18px;
        height: 18px;
      }
    }
    a{
      color: $greyColor;
      text-decoration: none;
      padding: 15px 12px;
    }

    .trueSign{
      color: $redColor;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
.route{
  margin-top: 40px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: $greyColor;
  h1{
    color: $black;
    text-transform: uppercase;
  }
}
.categories{
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  a{
    text-decoration: none;
    color: $greyText;
    padding: 8.5px 8px;
    border: 1px solid $filter;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  a:hover{
    background-color: $redColorHead;
    color: white;
    cursor: pointer;
  }
  .hidden{
    display: none !important;
  }
  #hiddenCategories{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #hideButton, #openButton{
    border: 1px solid $redColorHead;
  }
  #hideButton:hover, #openButton:hover{
    color:  $redColorHead;
    background-color: white;
  }
}
.sort{
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  span{
    font-size: 16px;
    color: $black;
  }
  select{
    outline: none;
    border: none;
    height: 28px;
    width: 187px;
    font-size: 14px;
    option{
      outline: none;
      border: none;
    }
  }
}
.filterClose{
  display: block !important;
}
.cardsClose{
  display: none !important;
}
.main{
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  .filter{
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: $backgroundFilter;
    border: 1px solid $lightGrey;
    padding: 20px;
    .closeFilter{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
    hr{
      width: 100%;
      border-style: solid;
      border-width: 0.5px;
      border-color: $lightGrey;
      margin-top: 15px;
    }
    .hideFilter{
      display: none !important;
    }
    .price, .type, .season, .Brend, .sex,
    .structure, .material, .warm, .purpose,
    .colors{
      .title{
        margin-top: 13px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        img{
          width: 12px;
          height: 6px;
        }
      }
      span{
        font-size: 16px;
        color: $black;
        font-weight: 500;
        margin-bottom: 14px;
      }
    }
    .price{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      input{
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 92px;
        text-align:right
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      p{
        position: absolute;
        color: black;
        margin-top: 4px;
        margin-left: 5px;
      }
      .inputPrice{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      .range{
        margin-bottom: 15px;
        .noUi-target{
          background: $filter;
          height: 4px;
          margin-top: 33px;
        }
        .noUi-connect{
          background: $slider;
          height: 4px;
        }
        .noUi-handle {

          width: 20px;
          height: 20px;
          border: none;
          border-radius: 50%;
          background: $slider;
        }
        .noUi-horizontal .noUi-handle{
          top: -9px;
        }
        .noUi-handle:before,
        .noUi-handle:after{
          background: none;
          content: "\2022";
          font-size: 43px;
          font-weight: 700;
          left: 3px;
          color: white;
          line-height: 12px;
          position: absolute;
        }
      }
    }
    .type, .season, .Brend, .sex, .structure,
    .material, .warm, .purpose, .colors{
      .hidePart{
        .listOfTypes, .list{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          label{
            font-size: 16px;
            color: $greyText;
            margin-bottom: 15px;
          }
          .custom-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
          }
          .custom-checkbox+label {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          .custom-checkbox+label::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;
            border: 1px solid $filter;
            border-radius: 0.25em;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
          }
          .custom-checkbox:checked+label::before {
            border-color: $filter;
            background-color: $redColorHead;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
          }
          .custom-checkbox:disabled+label {
            color: $Grey !important;
            border-color: $lightGrey;
          }
        }
      }
    }
  }
  .show{
    border: 2px solid $redColorHead;
    background-color: $backgroundFilter;
    height: 48px;
    span{
      font-weight: 600;
    }
  }
  .reset{
    margin-bottom: 100px;
    span{
      font-weight: 400;
      margin-top: 16px;
    }
  }
  .reset, .show{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    span{
      font-size: 16px;
      color: $redColorHead;
    }
  }
  .showMore{
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 60px;
    background: $backgroundFilter;
    border: 1px solid $lightGrey;
    font-weight: 400;
    font-size: 16px;
  }
  .left, .right{
    width: 12px;
    height: 6px;
  }
  .left{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-right: 31px;
  }
  .right{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 31px;
  }
  .pages{
    margin-top: 32px;
    margin-bottom: 201px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .lastPage{
      color: $Grey;
    }
    .allPages{
      color: $redColorHead;
    }
    a{
      color: $black;
      text-decoration: none;
      padding: 2px 8px;
      font-size: 16px;
    }
    a:hover+a:active{
      background-color: $redColorHead;
      color: white;
    }
  }

  .cards{
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    .card{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      border: 1px solid $lightGrey;
      .image{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      img{
        -ms-grid-column-align: center;
        justify-self: center;
        max-width: 216px;
        max-height: 438px;
      }
      .description{
        color: $black;
        font-size: 14px;
        margin-bottom: 14px;
      }
      .optPrice{
        color: #1A8BFF;
        font-size: 18px;
        margin-bottom: 2px;
      }
      .roznPrice{
        color: $redColorHead;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 14px;
      }
      .action{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        .add{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 70%;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border: 1px solid $Grey;
          span{
            color: $greyText;
            font-size: 16px;
            margin-top: 16px;
            margin-bottom: 16px;
          }
        }
        .add:hover{
          background-color: $redColorHead;
          span{
            color: white;
          }
        }
        .like{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 20%;
          border: 1px solid $Grey;
        }
        .like:hover{
          background-color: $redColorHead;
          color: white;
        }
        .like:before{
          content: "\2661";
          font-size: 30px;
          font-weight: 100;
        }
      }
    }
    .hideSize{
      display: none;
    }
    .size{
      .secondLineSize, .firstLineOfSize{
        margin-top: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        img{
          width: 20px;
          height: 20px;
        }
      }
      .secondLineSize{
        margin-bottom: 15px;
      }
      font-weight: 500;
      color: $black;
      .chooseOption{
        font-size: 20px;
      }
      .titleSize{
        font-size: 14px;
      }
      .listOfSizes{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        .sizeType{
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: 3fr 1fr 2fr;
          grid-template-columns: 3fr 1fr 2fr;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          input{
            -ms-grid-column: 2;
            -ms-grid-column-span: 1;
            grid-column: 2/3;
            height: 34px;
            width: 70%;
            text-align: center;
          }
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          .btns{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-pack: distribute;
            justify-content: space-around;
          }
          .plus, .minus{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 4px;
            width: 34px;
            height: 34px;
            font-size: 20px;
            color: white;
            background-color: $redColorHead;
          }
        }
      }
    }

  }
  .card:hover{
    -webkit-box-shadow: 0 0 20px rgba(37, 40, 43, 0.2);
    box-shadow: 0 0 20px rgba(37, 40, 43, 0.2);
  }
}
footer{
  background-color: $backgroundFilter;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-columns: 10% 80% 10%;
  grid-template-columns: 10% 80% 10%;
  border: 1px solid $lightGrey;
  -ms-grid-rows: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}
footer > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
footer > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
footer > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
footer > *:nth-child(4){
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
footer > *:nth-child(5){
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
footer > *:nth-child(6){
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.footer{
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 52px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .fistColomnFooter, .secondColomnFooter, .thirdColomnFooter, .fourthColomnFooter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .fistColomnFooter{
    span{
      color: $greyText;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 6px;
    }
    a{
      color: $redColor;
      text-decoration: none;
      margin-bottom: 21px;
    }
    .iconsFooter{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      img{
        margin-right: 10px;
      }
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      margin-bottom: 32px;
      margin-top: 8px;
    }
    .downloadPrice{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
      a{
        margin-bottom: 0;
        margin-left: 10px;
      }
    }
  }
  .secondColomnFooter, .thirdColomnFooter{
    .footerLink, .footerLinkRed{
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      margin-bottom: 20px;
    }
    .footerLink{
      color: $Grey;
    }
    .footerLinkRed{
      color: $redColorHead;
    }
  }
  .fourthColomnFooter{
    p{
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 14px;
      color: $greyText;
    }
    .email{
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient:horizontal;
      -webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;
      flex-direction:row-reverse;
      width: 100%;
      border: 1px solid $lightGrey;
      margin-bottom: 20px;
      img{
        margin-top: 10px;
        padding-right: 15px;
        width: 14px;
        height: 14px;
        position: absolute;
      }
      input{
        height: 34px;
        width: 100%;
        outline: none;
        border: none;
      }
    }
    .argee{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
}
.info{
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  span{
    color: black;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  p{
    margin-top: 0;
    margin-bottom: 38px;
  }
}

@media (min-width: 1199px) {
  .cards{
    -ms-grid-columns: (1fr)[3] !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  #filterButton{
    display: none !important;
  }
  #hideFilter{
    display: none !important;
  }
}
@media (min-width: 926px) and (max-width: 1198px) {
  .location, .search, .time, .icons, .contacts, .menu{
    display: none !important;
  }
  .cards{
    -ms-grid-columns: (1fr)[2] !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  #filterButton{
    display: none !important;
  }
  #hideFilter{
    display: none !important;
  }
  .showMore, .pages{
    -ms-grid-column: 2 !important;
    -ms-grid-column-span: 4 !important;
    grid-column: 2/6 !important;
  }
}
@media (min-width: 320px) and (max-width: 925px){
  .location, .search, .time, .icons, .contacts, .menu{
    display: none !important;
  }
  .cards{
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 5 !important;
    grid-column: 1/6 !important;
    -ms-grid-columns: (1fr)[1] !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .showMore, .pages{
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 5 !important;
    grid-column: 1/6 !important;
  }
  .filter{
    display: none ;
  }
  #filterButton{
    display: block !important;
  }
  .footer, footer, .info{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    border-bottom: 1px solid $lightGrey !important;
  }
  footer{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .footer .fourthColomnFooter{
    margin-bottom: 20px;
  }
}
@media (max-width: 319px){
  .location, .search, .time, .icons, .contacts, .menu{
    display: none !important;
  }
  .cards{
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 5 !important;
    grid-column: 1/6 !important;
    -ms-grid-columns: (1fr)[1] !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .showMore, .pages{
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 5 !important;
    grid-column: 1/6 !important;
  }
  .filter{
    display: none ;
  }
  #filterButton{
    display: block !important;
  }
  .footer, footer, .info{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    border-bottom: 1px solid $lightGrey !important;
  }
  footer{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .footer .fourthColomnFooter{
    margin-bottom: 20px;
  }
  .user{
    display: none !important;
  }
}