@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
}

#page {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #828282;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
  grid-template-columns: 10% 80% 10%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .location, header .time, header .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
header img {
  height: 80px;
  width: 95px;
}
header .location .city {
  color: #E93C3C;
  font-size: 14px;
}
header .location .city img {
  height: 14.67px;
  width: 12px;
}
header .search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 372px;
  border: 1px solid #828282;
}
header .search img {
  margin-top: 10px;
  padding-right: 15px;
  width: 14px;
  height: 14px;
  position: absolute;
}
header .search input {
  height: 34px;
  width: 100%;
  outline: none;
  border: none;
}
header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header .icons img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
header .contacts .contacts-number {
  font-weight: bold;
}
header .contacts .feedback {
  text-decoration: none;
  color: #EB4747;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
  grid-template-columns: 10% 80% 10%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-color: #F2F2F2;
}
nav .navbar {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
nav .navbar .menuLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
nav .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
nav .navbar .menu a:hover, nav .navbar .menu a:active {
  padding-bottom: 13px !important;
  border-bottom: 2px solid #E93C3C;
}
nav .navbar .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
nav .navbar .user .liked {
  margin-right: 20px;
  position: relative;
}
nav .navbar .user .liked .counts {
  position: absolute;
  background-color: #E93C3C;
  border-radius: 50%;
  color: white;
  font-size: 8px;
  width: 10px;
  text-align: center;
  padding: 1px 2px;
  height: 10px;
  top: -3px;
  left: 11px;
}
nav .navbar .user a {
  color: #E93C3C;
  padding: 0;
}
nav .navbar .user img {
  -o-object-fit: contain;
  object-fit: contain;
}
nav .navbar .user .enter img {
  margin-right: 10px;
}
nav .navbar .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #EB4747;
  color: white;
  height: 100%;
}
nav .navbar .catalog a {
  color: white;
}
nav .navbar .catalog img {
  margin-left: 12px;
  margin-top: 5px;
  width: 18px;
  height: 18px;
}
nav .navbar a {
  color: #828282;
  text-decoration: none;
  padding: 15px 12px;
}
nav .navbar .trueSign {
  color: #EB4747;
  text-transform: uppercase;
  font-weight: bold;
}

.route {
  margin-top: 40px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: #828282;
}
.route h1 {
  color: #25282B;
  text-transform: uppercase;
}

.categories {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.categories a {
  text-decoration: none;
  color: #52575C;
  padding: 8.5px 8px;
  border: 1px solid #CACCCF;
  margin-right: 8px;
  margin-bottom: 8px;
}
.categories a:hover {
  background-color: #E93C3C;
  color: white;
  cursor: pointer;
}
.categories .hidden {
  display: none !important;
}
.categories #hiddenCategories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.categories #hideButton, .categories #openButton {
  border: 1px solid #E93C3C;
}
.categories #hideButton:hover, .categories #openButton:hover {
  color: #E93C3C;
  background-color: white;
}

.sort {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sort span {
  font-size: 16px;
  color: #25282B;
}
.sort select {
  outline: none;
  border: none;
  height: 28px;
  width: 187px;
  font-size: 14px;
}
.sort select option {
  outline: none;
  border: none;
}

.filterClose {
  display: block !important;
}

.cardsClose {
  display: none !important;
}

.main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [5];
  grid-template-columns: repeat(5, 1fr);
}
.main .filter {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #F9F9FA;
  border: 1px solid #E8E8E8;
  padding: 20px;
}
.main .filter .closeFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.main .filter hr {
  width: 100%;
  border-style: solid;
  border-width: 0.5px;
  border-color: #E8E8E8;
  margin-top: 15px;
}
.main .filter .hideFilter {
  display: none !important;
}
.main .filter .price .title, .main .filter .type .title, .main .filter .season .title, .main .filter .Brend .title, .main .filter .sex .title,
.main .filter .structure .title, .main .filter .material .title, .main .filter .warm .title, .main .filter .purpose .title,
.main .filter .colors .title {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main .filter .price .title img, .main .filter .type .title img, .main .filter .season .title img, .main .filter .Brend .title img, .main .filter .sex .title img,
.main .filter .structure .title img, .main .filter .material .title img, .main .filter .warm .title img, .main .filter .purpose .title img,
.main .filter .colors .title img {
  width: 12px;
  height: 6px;
}
.main .filter .price span, .main .filter .type span, .main .filter .season span, .main .filter .Brend span, .main .filter .sex span,
.main .filter .structure span, .main .filter .material span, .main .filter .warm span, .main .filter .purpose span,
.main .filter .colors span {
  font-size: 16px;
  color: #25282B;
  font-weight: 500;
  margin-bottom: 14px;
}
.main .filter .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main .filter .price input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 92px;
  text-align: right;
}
.main .filter .price input::-webkit-outer-spin-button,
.main .filter .price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .filter .price p {
  position: absolute;
  color: black;
  margin-top: 4px;
  margin-left: 5px;
}
.main .filter .price .inputPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main .filter .price .range {
  margin-bottom: 15px;
}
.main .filter .price .range .noUi-target {
  background: #CACCCF;
  height: 4px;
  margin-top: 33px;
}
.main .filter .price .range .noUi-connect {
  background: #FF6262;
  height: 4px;
}
.main .filter .price .range .noUi-handle {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #FF6262;
}
.main .filter .price .range .noUi-horizontal .noUi-handle {
  top: -9px;
}
.main .filter .price .range .noUi-handle:before,
.main .filter .price .range .noUi-handle:after {
  background: none;
  content: "•";
  font-size: 43px;
  font-weight: 700;
  left: 3px;
  color: white;
  line-height: 12px;
  position: absolute;
}
.main .filter .type .hidePart .listOfTypes, .main .filter .type .hidePart .list, .main .filter .season .hidePart .listOfTypes, .main .filter .season .hidePart .list, .main .filter .Brend .hidePart .listOfTypes, .main .filter .Brend .hidePart .list, .main .filter .sex .hidePart .listOfTypes, .main .filter .sex .hidePart .list, .main .filter .structure .hidePart .listOfTypes, .main .filter .structure .hidePart .list,
.main .filter .material .hidePart .listOfTypes,
.main .filter .material .hidePart .list, .main .filter .warm .hidePart .listOfTypes, .main .filter .warm .hidePart .list, .main .filter .purpose .hidePart .listOfTypes, .main .filter .purpose .hidePart .list, .main .filter .colors .hidePart .listOfTypes, .main .filter .colors .hidePart .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main .filter .type .hidePart .listOfTypes label, .main .filter .type .hidePart .list label, .main .filter .season .hidePart .listOfTypes label, .main .filter .season .hidePart .list label, .main .filter .Brend .hidePart .listOfTypes label, .main .filter .Brend .hidePart .list label, .main .filter .sex .hidePart .listOfTypes label, .main .filter .sex .hidePart .list label, .main .filter .structure .hidePart .listOfTypes label, .main .filter .structure .hidePart .list label,
.main .filter .material .hidePart .listOfTypes label,
.main .filter .material .hidePart .list label, .main .filter .warm .hidePart .listOfTypes label, .main .filter .warm .hidePart .list label, .main .filter .purpose .hidePart .listOfTypes label, .main .filter .purpose .hidePart .list label, .main .filter .colors .hidePart .listOfTypes label, .main .filter .colors .hidePart .list label {
  font-size: 16px;
  color: #52575C;
  margin-bottom: 15px;
}
.main .filter .type .hidePart .listOfTypes .custom-checkbox, .main .filter .type .hidePart .list .custom-checkbox, .main .filter .season .hidePart .listOfTypes .custom-checkbox, .main .filter .season .hidePart .list .custom-checkbox, .main .filter .Brend .hidePart .listOfTypes .custom-checkbox, .main .filter .Brend .hidePart .list .custom-checkbox, .main .filter .sex .hidePart .listOfTypes .custom-checkbox, .main .filter .sex .hidePart .list .custom-checkbox, .main .filter .structure .hidePart .listOfTypes .custom-checkbox, .main .filter .structure .hidePart .list .custom-checkbox,
.main .filter .material .hidePart .listOfTypes .custom-checkbox,
.main .filter .material .hidePart .list .custom-checkbox, .main .filter .warm .hidePart .listOfTypes .custom-checkbox, .main .filter .warm .hidePart .list .custom-checkbox, .main .filter .purpose .hidePart .listOfTypes .custom-checkbox, .main .filter .purpose .hidePart .list .custom-checkbox, .main .filter .colors .hidePart .listOfTypes .custom-checkbox, .main .filter .colors .hidePart .list .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.main .filter .type .hidePart .listOfTypes .custom-checkbox + label, .main .filter .type .hidePart .list .custom-checkbox + label, .main .filter .season .hidePart .listOfTypes .custom-checkbox + label, .main .filter .season .hidePart .list .custom-checkbox + label, .main .filter .Brend .hidePart .listOfTypes .custom-checkbox + label, .main .filter .Brend .hidePart .list .custom-checkbox + label, .main .filter .sex .hidePart .listOfTypes .custom-checkbox + label, .main .filter .sex .hidePart .list .custom-checkbox + label, .main .filter .structure .hidePart .listOfTypes .custom-checkbox + label, .main .filter .structure .hidePart .list .custom-checkbox + label,
.main .filter .material .hidePart .listOfTypes .custom-checkbox + label,
.main .filter .material .hidePart .list .custom-checkbox + label, .main .filter .warm .hidePart .listOfTypes .custom-checkbox + label, .main .filter .warm .hidePart .list .custom-checkbox + label, .main .filter .purpose .hidePart .listOfTypes .custom-checkbox + label, .main .filter .purpose .hidePart .list .custom-checkbox + label, .main .filter .colors .hidePart .listOfTypes .custom-checkbox + label, .main .filter .colors .hidePart .list .custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main .filter .type .hidePart .listOfTypes .custom-checkbox + label::before, .main .filter .type .hidePart .list .custom-checkbox + label::before, .main .filter .season .hidePart .listOfTypes .custom-checkbox + label::before, .main .filter .season .hidePart .list .custom-checkbox + label::before, .main .filter .Brend .hidePart .listOfTypes .custom-checkbox + label::before, .main .filter .Brend .hidePart .list .custom-checkbox + label::before, .main .filter .sex .hidePart .listOfTypes .custom-checkbox + label::before, .main .filter .sex .hidePart .list .custom-checkbox + label::before, .main .filter .structure .hidePart .listOfTypes .custom-checkbox + label::before, .main .filter .structure .hidePart .list .custom-checkbox + label::before,
.main .filter .material .hidePart .listOfTypes .custom-checkbox + label::before,
.main .filter .material .hidePart .list .custom-checkbox + label::before, .main .filter .warm .hidePart .listOfTypes .custom-checkbox + label::before, .main .filter .warm .hidePart .list .custom-checkbox + label::before, .main .filter .purpose .hidePart .listOfTypes .custom-checkbox + label::before, .main .filter .purpose .hidePart .list .custom-checkbox + label::before, .main .filter .colors .hidePart .listOfTypes .custom-checkbox + label::before, .main .filter .colors .hidePart .list .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 1px solid #CACCCF;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.main .filter .type .hidePart .listOfTypes .custom-checkbox:checked + label::before, .main .filter .type .hidePart .list .custom-checkbox:checked + label::before, .main .filter .season .hidePart .listOfTypes .custom-checkbox:checked + label::before, .main .filter .season .hidePart .list .custom-checkbox:checked + label::before, .main .filter .Brend .hidePart .listOfTypes .custom-checkbox:checked + label::before, .main .filter .Brend .hidePart .list .custom-checkbox:checked + label::before, .main .filter .sex .hidePart .listOfTypes .custom-checkbox:checked + label::before, .main .filter .sex .hidePart .list .custom-checkbox:checked + label::before, .main .filter .structure .hidePart .listOfTypes .custom-checkbox:checked + label::before, .main .filter .structure .hidePart .list .custom-checkbox:checked + label::before,
.main .filter .material .hidePart .listOfTypes .custom-checkbox:checked + label::before,
.main .filter .material .hidePart .list .custom-checkbox:checked + label::before, .main .filter .warm .hidePart .listOfTypes .custom-checkbox:checked + label::before, .main .filter .warm .hidePart .list .custom-checkbox:checked + label::before, .main .filter .purpose .hidePart .listOfTypes .custom-checkbox:checked + label::before, .main .filter .purpose .hidePart .list .custom-checkbox:checked + label::before, .main .filter .colors .hidePart .listOfTypes .custom-checkbox:checked + label::before, .main .filter .colors .hidePart .list .custom-checkbox:checked + label::before {
  border-color: #CACCCF;
  background-color: #E93C3C;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.main .filter .type .hidePart .listOfTypes .custom-checkbox:disabled + label, .main .filter .type .hidePart .list .custom-checkbox:disabled + label, .main .filter .season .hidePart .listOfTypes .custom-checkbox:disabled + label, .main .filter .season .hidePart .list .custom-checkbox:disabled + label, .main .filter .Brend .hidePart .listOfTypes .custom-checkbox:disabled + label, .main .filter .Brend .hidePart .list .custom-checkbox:disabled + label, .main .filter .sex .hidePart .listOfTypes .custom-checkbox:disabled + label, .main .filter .sex .hidePart .list .custom-checkbox:disabled + label, .main .filter .structure .hidePart .listOfTypes .custom-checkbox:disabled + label, .main .filter .structure .hidePart .list .custom-checkbox:disabled + label,
.main .filter .material .hidePart .listOfTypes .custom-checkbox:disabled + label,
.main .filter .material .hidePart .list .custom-checkbox:disabled + label, .main .filter .warm .hidePart .listOfTypes .custom-checkbox:disabled + label, .main .filter .warm .hidePart .list .custom-checkbox:disabled + label, .main .filter .purpose .hidePart .listOfTypes .custom-checkbox:disabled + label, .main .filter .purpose .hidePart .list .custom-checkbox:disabled + label, .main .filter .colors .hidePart .listOfTypes .custom-checkbox:disabled + label, .main .filter .colors .hidePart .list .custom-checkbox:disabled + label {
  color: #A0A4A8 !important;
  border-color: #E8E8E8;
}
.main .show {
  border: 2px solid #E93C3C;
  background-color: #F9F9FA;
  height: 48px;
}
.main .show span {
  font-weight: 600;
}
.main .reset {
  margin-bottom: 100px;
}
.main .reset span {
  font-weight: 400;
  margin-top: 16px;
}
.main .reset, .main .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main .reset span, .main .show span {
  font-size: 16px;
  color: #E93C3C;
}
.main .showMore {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 60px;
  background: #F9F9FA;
  border: 1px solid #E8E8E8;
  font-weight: 400;
  font-size: 16px;
}
.main .left, .main .right {
  width: 12px;
  height: 6px;
}
.main .left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-right: 31px;
}
.main .right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 31px;
}
.main .pages {
  margin-top: 32px;
  margin-bottom: 201px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main .pages .lastPage {
  color: #A0A4A8;
}
.main .pages .allPages {
  color: #E93C3C;
}
.main .pages a {
  color: #25282B;
  text-decoration: none;
  padding: 2px 8px;
  font-size: 16px;
}
.main .pages a:hover + a:active {
  background-color: #E93C3C;
  color: white;
}
.main .cards {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [4];
  grid-template-columns: repeat(4, 1fr);
}
.main .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #E8E8E8;
}
.main .cards .card .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main .cards .card img {
  -ms-grid-column-align: center;
  justify-self: center;
  max-width: 216px;
  max-height: 438px;
}
.main .cards .card .description {
  color: #25282B;
  font-size: 14px;
  margin-bottom: 14px;
}
.main .cards .card .optPrice {
  color: #1A8BFF;
  font-size: 18px;
  margin-bottom: 2px;
}
.main .cards .card .roznPrice {
  color: #E93C3C;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 14px;
}
.main .cards .card .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main .cards .card .action .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #A0A4A8;
}
.main .cards .card .action .add span {
  color: #52575C;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.main .cards .card .action .add:hover {
  background-color: #E93C3C;
}
.main .cards .card .action .add:hover span {
  color: white;
}
.main .cards .card .action .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
  border: 1px solid #A0A4A8;
}
.main .cards .card .action .like:hover {
  background-color: #E93C3C;
  color: white;
}
.main .cards .card .action .like:before {
  content: "♡";
  font-size: 30px;
  font-weight: 100;
}
.main .cards .hideSize {
  display: none;
}
.main .cards .size {
  font-weight: 500;
  color: #25282B;
}
.main .cards .size .secondLineSize, .main .cards .size .firstLineOfSize {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main .cards .size .secondLineSize img, .main .cards .size .firstLineOfSize img {
  width: 20px;
  height: 20px;
}
.main .cards .size .secondLineSize {
  margin-bottom: 15px;
}
.main .cards .size .chooseOption {
  font-size: 20px;
}
.main .cards .size .titleSize {
  font-size: 14px;
}
.main .cards .size .listOfSizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main .cards .size .listOfSizes .sizeType {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 2fr;
  grid-template-columns: 3fr 1fr 2fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main .cards .size .listOfSizes .sizeType input {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 34px;
  width: 70%;
  text-align: center;
}
.main .cards .size .listOfSizes .sizeType input::-webkit-outer-spin-button,
.main .cards .size .listOfSizes .sizeType input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .cards .size .listOfSizes .sizeType .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.main .cards .size .listOfSizes .sizeType .plus, .main .cards .size .listOfSizes .sizeType .minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  width: 34px;
  height: 34px;
  font-size: 20px;
  color: white;
  background-color: #E93C3C;
}
.main .card:hover {
  -webkit-box-shadow: 0 0 20px rgba(37, 40, 43, 0.2);
  box-shadow: 0 0 20px rgba(37, 40, 43, 0.2);
}

footer {
  background-color: #F9F9FA;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-columns: 10% 80% 10%;
  grid-template-columns: 10% 80% 10%;
  border: 1px solid #E8E8E8;
  -ms-grid-rows: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

footer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

footer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

footer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

footer > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

footer > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

footer > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.footer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 52px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-columns: 1fr [4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .fistColomnFooter, .footer .secondColomnFooter, .footer .thirdColomnFooter, .footer .fourthColomnFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer .fistColomnFooter span {
  color: #52575C;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 6px;
}
.footer .fistColomnFooter a {
  color: #EB4747;
  text-decoration: none;
  margin-bottom: 21px;
}
.footer .fistColomnFooter .iconsFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 32px;
  margin-top: 8px;
}
.footer .fistColomnFooter .iconsFooter img {
  margin-right: 10px;
}
.footer .fistColomnFooter .downloadPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.footer .fistColomnFooter .downloadPrice a {
  margin-bottom: 0;
  margin-left: 10px;
}
.footer .secondColomnFooter .footerLink, .footer .secondColomnFooter .footerLinkRed, .footer .thirdColomnFooter .footerLink, .footer .thirdColomnFooter .footerLinkRed {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 20px;
}
.footer .secondColomnFooter .footerLink, .footer .thirdColomnFooter .footerLink {
  color: #A0A4A8;
}
.footer .secondColomnFooter .footerLinkRed, .footer .thirdColomnFooter .footerLinkRed {
  color: #E93C3C;
}
.footer .fourthColomnFooter p {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  color: #52575C;
}
.footer .fourthColomnFooter .email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 100%;
  border: 1px solid #E8E8E8;
  margin-bottom: 20px;
}
.footer .fourthColomnFooter .email img {
  margin-top: 10px;
  padding-right: 15px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.footer .fourthColomnFooter .email input {
  height: 34px;
  width: 100%;
  outline: none;
  border: none;
}
.footer .fourthColomnFooter .argee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.info {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.info span {
  color: black;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-weight: 400;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.info p {
  margin-top: 0;
  margin-bottom: 38px;
}

@media (min-width: 1199px) {
  .cards {
    -ms-grid-columns: 1fr [3] !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }

  #filterButton {
    display: none !important;
  }

  #hideFilter {
    display: none !important;
  }
}
@media (min-width: 926px) and (max-width: 1198px) {
  .location, .search, .time, .icons, .contacts, .menu {
    display: none !important;
  }

  .cards {
    -ms-grid-columns: 1fr [2] !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  #filterButton {
    display: none !important;
  }

  #hideFilter {
    display: none !important;
  }

  .showMore, .pages {
    -ms-grid-column: 2 !important;
    -ms-grid-column-span: 4 !important;
    grid-column: 2/6 !important;
  }
}
@media (min-width: 320px) and (max-width: 925px) {
  .location, .search, .time, .icons, .contacts, .menu {
    display: none !important;
  }

  .cards {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 5 !important;
    grid-column: 1/6 !important;
    -ms-grid-columns: 1fr [1] !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .showMore, .pages {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 5 !important;
    grid-column: 1/6 !important;
  }

  .filter {
    display: none;
  }

  #filterButton {
    display: block !important;
  }

  .footer, footer, .info {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    border-bottom: 1px solid #E8E8E8 !important;
  }

  footer {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .footer .fourthColomnFooter {
    margin-bottom: 20px;
  }
}
@media (max-width: 319px) {
  .location, .search, .time, .icons, .contacts, .menu {
    display: none !important;
  }

  .cards {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 5 !important;
    grid-column: 1/6 !important;
    -ms-grid-columns: 1fr [1] !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .showMore, .pages {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 5 !important;
    grid-column: 1/6 !important;
  }

  .filter {
    display: none;
  }

  #filterButton {
    display: block !important;
  }

  .footer, footer, .info {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    border-bottom: 1px solid #E8E8E8 !important;
  }

  footer {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .footer .fourthColomnFooter {
    margin-bottom: 20px;
  }

  .user {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
